<nav
  class="navbar navbar-expand-lg navbar-dark navbar-transparent sticky-top border-bottom-1 border-white py-3"
>
  <div class="container">
    <!-- Icone -->
    <a
      routerLink="{{
        userMenuType != 'INSTITUTION' ? '/home' : '/opportunities-institution'
      }}"
      class="nav-link"
    >
      <img
        src="/assets/img/logo-footer-no-slogan.png"
        width="112"
        alt="Logo da WeCare "
      /><span class="d-inline-block text-white" style="padding-left: 25px"
        >Mudando vidas, juntos!</span
      >
    </a>

    <!-- Menu Hamburguer -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainMenu"
      aria-controls="mainMenu"
      aria-expanded="false"
      aria-label="togglenavigation"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse"
      id="mainMenu"
    >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="userMenuType != 'INSTITUTION'">
          <a
            href="/home"
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            >Início</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/about"
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            >Sobre a WeCare
          </a>
        </li>
        <li class="nav-item divisor d-none d-md-block"></li>

        <!-- Menus diferentes de acordo com o perfil de quem acessa -->
        <!-- Sem estar logado -->
        <li class="nav-item" *ngIf="userMenuType == 'UNKNOW'">
          <a
            href="/login"
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            >Acessar</a
          >
        </li>

        <!-- Identificado como voluntário -->
        <li class="nav-item" *ngIf="userMenuType == 'CANDIDATE'">
          <a
            href="/opportunities"
            class="nav-link"
            routerLink="/opportunities"
            routerLinkActive="active"
            (click)="isMenuCollapsed = true"
            >Pesquisar Vagas</a
          >
        </li>
        <li class="nav-item dropdown" *ngIf="userMenuType == 'CANDIDATE'">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a
                class="nav-link dropdown-toggle"
                id="dropdownBasic1"
                routerLinkActive="active"
                ngbDropdownToggle
              >
                Oportunidades
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a
                  href="/opportunities-scheduled"
                  class=""
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true"
                  ngbDropdownItem
                  >Agendadas</a
                >
                <a
                  href="/opportunities-accomplished"
                  class=""
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true"
                  ngbDropdownItem
                  >Realizadas</a
                >
                <a
                  href="/opportunities-invite"
                  class=""
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true"
                  ngbDropdownItem
                  >Convites</a
                >
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="userMenuType == 'CANDIDATE'">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a
                class="nav-link dropdown-toggle"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                Perfil
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="row">
                <div
                  *ngIf="currentCandidate"
                  class="img_profile col align-items-center"
                >
                  <img
                    *ngIf="currentCandidate.photo?.length > 0"
                    class="mx-auto"
                    [src]="
                      imageService.convertBase64ToPhotoUrl(
                        currentCandidate.photo
                      )
                    "
                    alt="Foto do perfil"
                  />
                  <div class="text-center fw-bold">
                    {{ currentCandidate.name }}
                  </div>
                </div>
                <hr />
                <a
                  href="/user-profile"
                  class=""
                  routerLinkActive="active"
                  ngbDropdownItem
                  >Editar perfil</a
                >
                <a style="cursor: pointer" (click)="sair()" ngbDropdownItem
                  >Sair</a
                >
              </div>
            </div>
          </div>
        </li>

        <!-- Identificado como instituição -->
        <div class="d-flex flex-row" *ngIf="userMenuType == 'INSTITUTION'">
          <!-- <li class="nav-item">
            <a
              href="/volunteer-search"
              class="nav-link font-weight-bold"
              routerLinkActive="active"
              >Pesquisar Voluntários</a
            >
          </li> -->
          <li class="nav-item">
            <a
              href="/opportunities-institution"
              class="nav-link font-weight-bold"
              routerLinkActive="active"
              >Oportunidades</a
            >
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Oportunidades
            </a>
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/opportunities-institution"
                class="nav-link"
                routerLinkActive="active">
                  Adicionar
                </a>
              </li>
              <li><a class="dropdown-item" href="#">Editar</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Oportunidades Listadas</a></li>
            </ul>
          </li> -->
          <li class="nav-item dropdown">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <a
                  class="nav-link dropdown-toggle"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                >
                  Perfil
                </a>
                <div
                  ngbDropdownMenu
                  aria-labelledby="dropdownBasic1"
                  class="row"
                >
                  <div
                    *ngIf="currentInstitution"
                    class="img_profile col align-items-center"
                  >
                    <img
                      *ngIf="currentInstitution.photo?.length > 0"
                      class="mx-auto"
                      [src]="
                        imageService.convertBase64ToPhotoUrl(
                          currentInstitution.photo
                        )
                      "
                      alt="Foto do perfil"
                    />
                    <div class="text-center fw-bold">
                      {{ currentInstitution.name }}
                    </div>
                  </div>
                  <hr />
                  <a
                    href="/institution-profile"
                    class=""
                    routerLinkActive="active"
                    ngbDropdownItem
                    >Editar</a
                  >
                  <a style="cursor: pointer" (click)="sair()" ngbDropdownItem
                    >Sair</a
                  >
                </div>
                
              </div>
            </div>
          </li>
        </div>

        <!-- Identificado como adm -->
        <div class="d-flex flex-row" *ngIf="userMenuType == 'ADM'">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <a
                class="nav-link dropdown-toggle"
                id="dropdownBasic2"
                ngbDropdownToggle
              >
                Problemas Relatados
              </a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a
                  href="/issues-volunteers"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true"
                  ngbDropdownItem
                  >Com Voluntários</a
                >
                <a
                  href="/issues-institutions"
                  routerLinkActive="active"
                  (click)="isMenuCollapsed = true"
                  ngbDropdownItem
                  >Com Vagas</a
                >
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
