<div class="d-none d-md-block" *ngIf="userRole === 'CANDIDATE'">
  <app-carousel></app-carousel>
</div>
<div class="content">
  <div class="container">
    <div id="">
      <div class="text-center text-lg-start" *ngIf="userIsCandidate">
        <h3 *ngIf="recommendedOpportunities?.length > 0">
          Vagas Recomendadas pra Você
        </h3>
        <div
          style="display: flex; justify-content: center"
          *ngIf="recommendedOpportunitiesIsLoading"
        >
          <div class="loader"></div>
        </div>
        <app-card-slider-alt
          *ngIf="
            !recommendedOpportunitiesIsLoading &&
            recommendedOpportunities.length > 0
          "
          [volunteerOpportunities]="recommendedOpportunities"
        ></app-card-slider-alt>
      </div>
      <div class="text-center text-lg-start mt-5">
        <div *ngIf="latestOpportunities?.length > 0">
          <h3 class="">Vagas Adicionadas Recentemente</h3>
        </div>
        <div
          style="display: flex; justify-content: center"
          *ngIf="latestOpportunitiesIsLoading"
        >
          <div class="loader"></div>
        </div>
        <app-card-slider
          *ngIf="!latestOpportunitiesIsLoading"
          [volunteerOpportunities]="latestOpportunities"
          [userRole]="userRole"
        ></app-card-slider>
      </div>
    </div>

    <div class="collor-pastel mt-5">
      <h3 class="text-center mt-3">A Importância do Trabalho Voluntariado</h3>
      <div class="row">
        <div class="col my-auto">
          <app-card-slider-photos></app-card-slider-photos>
        </div>
        <div class="col p-5">
          <p>
            O trabalho voluntário é fundamental para o desenvolvimento de uma
            sociedade mais justa e solidária. Quando indivíduos se dedicam a
            ajudar o próximo de forma gratuita, eles contribuem para o
            fortalecimento de laços de solidariedade e cooperação entre as
            pessoas. Além disso, o trabalho voluntário pode ser uma excelente
            forma de desenvolver habilidades e competências, como a liderança, a
            comunicação, a resiliência e a empatia.
          </p>
          <p>
            Outra importância do trabalho voluntário é o seu papel na redução
            das desigualdades sociais. Ao dedicar seu tempo e habilidades a
            projetos sociais, os voluntários ajudam a suprir demandas que muitas
            vezes não são atendidas pelo Estado ou por outras instituições.
            Dessa forma, é possível mitigar os efeitos da exclusão social,
            contribuindo para a promoção de um mundo mais justo e igualitário.
          </p>
        </div>
        <div class="px-5">
          <p>
            Além disso, o trabalho voluntário pode ser uma forma de fazer a
            diferença em comunidades locais e em todo o mundo. Através de
            projetos sociais, voluntários podem contribuir para a melhoria da
            qualidade de vida de indivíduos em situações de vulnerabilidade, bem
            como promover ações de preservação ambiental, educação, cultura e
            saúde. Com seu esforço e dedicação, é possível criar um impacto
            positivo duradouro na vida de muitas pessoas.
          </p>
          <p>
            Por fim, o trabalho voluntário também pode ser uma excelente
            oportunidade para os voluntários se conectarem com outras pessoas e
            ampliarem suas redes de contatos. Ao se envolver em projetos
            sociais, é possível conhecer pessoas com interesses semelhantes,
            construir amizades e criar conexões valiosas que podem ajudar em
            futuros projetos pessoais ou profissionais. Além disso, o
            voluntariado pode ajudar a desenvolver uma sensação de propósito e
            pertencimento em uma comunidade, o que é fundamental para a
            construção de uma vida plena e satisfatória.
          </p>
        </div>
      </div>
    </div>

    <div
      class="text-center text-lg-start mt-5"
      *ngIf="userRole === 'CANDIDATE'"
    >
      <h3 id="causes">Causas Em Destaque Neste Mês</h3>
      <app-featured-causes></app-featured-causes>
    </div>
  </div>
</div>
