<section>
  <div class="header-wrapper">
    <header></header>
  </div>
  <div class="cols_container">
    <div class="left_col">
      <div class="img_profile">
        <img src="../../../assets/img/1.png" alt="" />
        <span></span>
      </div>
      <h2 class="user_name">User Name</h2>
      <hr />
      <span class="account-type">Voluntario</span>
      <hr />
      <p class="bio">
        <!-- lorem30 -->
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt tempore
        illum possimus, ipsum non nesciunt nostrum eius laudantium doloribus
        recusandae culpa rerum unde, ullam et quasi, iure facere quos saepe.
      </p>
      <hr />
      <span class="account-type">Principais habilidades</span>
      <hr />
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur</li>
        <li>unt tempore illum possimus</li>
        <li>Sullam et quasi, iure facere quos saepe.</li>
      </ul>
      <hr />
      <span class="account-type">Contatos</span>
      <hr />
      <p class="bio">
        Fone/Whats: xxxxxxxxxxxxxxxxxxxx, Email: wecare@gmail.com
      </p>
      <div class="content"></div>
    </div>
    <div class="right-col">
      <nav>
        <ul>
          <li><a>Next Events</a></li>
          <li><a>Done</a></li>
          <li><a>Search Events</a></li>
        </ul>
      </nav>

      <div class="vagas">
        <img src="../../../assets/img/background2.png" alt="" />
        <img src="../../../assets/img/background2.png" alt="" />
        <img src="../../../assets/img/background2.png" alt="" />
        <img src="../../../assets/img/background2.png" alt="" />
      </div>
    </div>
  </div>

  <!-- <div class="flex-item ">
            <h2>Perfil do Usuario</h2>
            <hr>
            <div class="flex-item">
                <div class="flex-item item-next-events">
                    photo
                </div>
                <div class="flex-item item-profile">
                    infos
                </div>
            </div>
        </div> -->
</section>
