<div class="content" style="min-height: 64vh">
  <div class="container">
    <div class="row my-3 d-flex justify-content-space-around">
      <div class="col">
        <h2 class="fs-3 text-primary my-3">
          Encontre Voluntários Para Ajudar Com a Sua Causa
        </h2>
      </div>

      <div class="row">
        <section class="col d-flex flex-wrap">
          <div ngbDropdown>
            <button
              type="button"
              class="btn btn-light px-5"
              id="causes-dropdown"
              ngbDropdownToggle
            >
              Qualificações
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="causes-dropdown"
              class="dropdown-menu"
            >
              <button
                (click)="addQualificationToSearch(qualification)"
                ngbDropdownItem
                *ngFor="let qualification of qualifications"
              >
                {{ qualification.name }}
              </button>
            </div>
          </div>
          <div
            *ngIf="selectedQualifications?.length > 0"
            class="d-flex flex-column mt-1"
          >
            <div
              *ngFor="let qualification of selectedQualifications"
              class="d-flex flex-row mt-1"
            >
              <span class="me-2 w-50">{{ qualification.name }}</span>
              <span
                (click)="removeQualificationToSearch(qualification)"
                role="button"
                class="bi bi-x-circle text-danger ms-2"
                title="Excluir {{ qualification.name }}"
                style="cursor: pointer"
              ></span>
            </div>
          </div>

          <div class="w-auto mb-1">
            <div ngbDropdown>
              <button
                type="button"
                class="btn btn-light px-5"
                id="federative-units-dropdown"
                ngbDropdownToggle
              >
                Estados
              </button>
              <div
                ngbDropdownMenu
                aria-labelledby="federative-units-dropdown"
                class="dropdown-menu"
              >
                <button
                  (click)="addFederativeUnitToSearch(federativeUnit)"
                  ngbDropdownItem
                  *ngFor="let federativeUnit of federativeUnits"
                >
                  {{ federativeUnit.name }} ({{ federativeUnit.abbreviation }})
                </button>
              </div>
            </div>
            <div
              *ngIf="selectedFederativeUnits?.length > 0"
              class="d-flex flex-column mt-1"
            >
              <div
                *ngFor="let federativeUnit of selectedFederativeUnits"
                class="d-flex flex-row mt-1"
              >
                <span class="me-2 w-50"
                  >{{ federativeUnit.name }} ({{
                    federativeUnit.abbreviation
                  }})</span
                >
                <span
                  (click)="removeFederativeUnit(federativeUnit)"
                  role="button"
                  class="bi bi-x-circle text-danger ms-2"
                  title="Excluir {{ federativeUnit.name }}"
                  style="cursor: pointer"
                ></span>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div style="display: flex; justify-content: center" *ngIf="isLoading">
        <div class="loader"></div>
      </div>
      <section
        *ngFor="let candidate of candidates"
        class="card col-xs-10 col-sm-8 col-lg-5 col-xl-3 d-flex justify-content-center align-items-center m-3 p-0"
      >
        <ng-container *ngIf="!isLoading">
          <div *ngIf="candidate.photo" class="image-content w-100">
            <span class="overlay"></span>
            <div class="card-image">
              <img
                [src]="imageService.convertBase64ToPhotoUrl(candidate?.photo)"
                alt="Foto do candidato {{ candidate.name }}"
                class="card-img"
              />
            </div>
          </div>
          <div class="card-content row">
            <h2 class="name col-10 text-center" title="{{ candidate.name }}">
              {{ candidate.name }}
            </h2>
            <p
              class="description text-body-tertiary crop-text-5 my-2"
              title="{{ candidate.bio }}"
            >
              {{ candidate.bio }}
            </p>

            <!-- <div class=" text-center row">
            <div class="col text-truncate text-start">
              <i
                class="bi bi-calendar-week text-warning"
                title="{{
                  avaliableVolunteer.opportunityDate | date : 'dd/MM/yyyy'
                }}"
                ><span class="text-dark">
                  {{
                    avaliableVolunteer.opportunityDate | date : "dd/MM/yyyy"
                  }}</span
                >
              </i>
            </div>
          </div> -->
            <div class="text-start row">
              <div class="col text-truncate text-start">
                <i class="bi bi-geo-alt-fill text-danger"
                  ><span class="text-dark"
                    >{{ candidate.address.neighborhood }},
                    {{ candidate.address.city }} -
                    {{ candidate.address.state }}</span
                  >
                </i>
              </div>
            </div>
            <div class="text-start row">
              <div
                *ngIf="candidate?.qualifications?.length > 0"
                class="col text-truncate text-start"
              >
                <i class="bi bi-bookmark-heart text-success"
                  ><span class="text-dark text-start">{{
                    candidate?.qualifications?.join(", ")
                  }}</span>
                </i>
              </div>
            </div>
            <div class="row d-flex justify-content-end my-2">
              <button
                class="btn btn-sm btn-primary"
                (click)="openInviteModal(inviteModal, candidate)"
              >
                Convidar
              </button>
            </div>
          </div>
        </ng-container>

        <ng-template #inviteModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title2">
              Convidar para vagas
            </h4>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            ></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <form [formGroup]="volunteerOpportunitiesInvitesForm">
                <ng-container formArrayName="volunteerOpportunitiesInvites">
                  <table
                    *ngIf="volunteerOpportunitiesInvites?.controls.length > 0"
                    class="table"
                  >
                    <thead>
                      <tr>
                        <th>Oportunidade</th>
                        <th>Enviar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let volunteerOpportunityInvite of volunteerOpportunitiesInvites.controls
                        "
                      >
                        <td>
                          {{ volunteerOpportunityInvite.value.name }}<br />{{
                            volunteerOpportunityInvite.value | json
                          }}
                        </td>
                        <td [formGroup]="volunteerOpportunityInvite" class="d-flex justify-content-center">
                          <div class="h-100">
                            <input type="checkbox" formControlName="sendInvite" class="form-check-input" title="Enviar Convite" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="inviteCandidate(modal)"
              [disabled]="!existsOpportunityInviteToSend()"
            >
              Convidar
            </button>
          </div>
        </ng-template>
      </section>

      <div *ngIf="hasNextPage" class="row d-flex justify-content-center mt-5">
        <div class="col col-md-2 d-flex justify-content-center">
          <button
            (click)="loadCandidates()"
            class="btn btn-outline-light text-primary"
          >
            Carregar mais
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
