<div class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="container border border-1 rounded-4 p-4">
        <div class="">
          <h3>Problemas Relatados com Vagas</h3>
        </div>
        <div *ngIf="issues.length == 0">
          <p class="bold">Sem problemas relatados no momento!</p>
        </div>

        <div *ngIf="issues.length > 0">
          <ul
            class="applications"
            *ngFor="let oportunityIssue of issues"
          >
            <li class="volunteer">
              <div class="description">
                <h4 class="ps-2">Relato nº: {{ oportunityIssue.id }}</h4>
                <div>
                  <div class="row mt-3 ps-3">
                    <div class="col-lg-6 col-sm-6 text-truncate">
                      <i
                        class="bi bi-calendar-week text-warning"
                        title="{{ oportunityIssue.creationDate }}"
                        ><span class="text-dark">
                          Criado em:
                          {{
                            oportunityIssue.creationDate | date : "dd/MM/yyyy"
                          }}</span
                        >
                      </i>
                    </div>

                    <div class="col-lg-6 col-sm-6 text-truncate">
                      <i class="bi bi-telephone-fill text-success" title=""
                        ><span class="text-dark">
                          Status: {{ oportunityIssue.status }}
                        </span>
                      </i>
                    </div>
                  </div>
                  <div class="row ps-3">
                    <div class="col-lg-6 col-sm-6 text-truncate">
                      <i class="bi bi-pencil text-primary">
                        <span class="text-dark text-truncate"
                          > Titulo da Vaga: {{ oportunityIssue.tittle }}
                        </span></i
                      >
                    </div>
                    <div class="col-lg-5 col-sm-6 text-truncate">
                      <i class="bi bi-person-fill-exclamation text-info"
                        ><span class="text-dark">
                          Reportado por: {{ oportunityIssue.reporterId }}</span
                        >
                      </i>
                    </div>
                    <div class="col-lg-6 col-sm-6 text-truncate"></div>
                  </div>
                  <p class="">Descrição: {{ oportunityIssue.description }}</p>
                  <div class="action-buttons my-4">
                    <div class="row">
                      <div class="col-6 col-lg-9">
                        <button class="btn btn-outline-danger">
                          Descartar
                        </button>
                      </div>
                      <div class="col-2 col-lg-2">
                        <button class="btn btn-primary">Procedente</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Detalhes</h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          ></button>
        </div>
        <div class="modal-body"> -->
      <!-- <form>
          <div class="mb-3">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
              <input
                id="dateOfBirth"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                ngbDatepicker
                #dp="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </form> -->

      <!-- Info do problema -->
      <!-- <div class="mb-2 border p-2">
            <div class="row fw-bold">
              <div class="col">Id</div>
              <div class="col">Data do Registro</div>
            </div>
            <div class="row">
              <div class="col">2</div>
              <div class="col">25/02/22</div>
            </div>
          </div> -->

      <!-- Info da vaga -->
      <!-- <div class="mb-2 border p-2">
            <div class="row fw-bold">
              <div class="col">Nome da vaga</div>
              <div class="col">Tipo</div>
            </div>
            <div class="row">
              <div class="col">30/2022</div>
              <div class="col">Doação de Alimentos</div>
            </div>
          </div> -->

      <!-- Relato do problema -->
      <!-- <div class="mb-2 border p-2">
            <div class="row fw-bold">
              <div class="col">Relato</div>
            </div>
            <div class="row">
              <div class="col">Vaga não pertinente ao solicitado</div>
            </div>
          </div> -->

      <!-- Info do voluntário -->
      <!-- <div class="mt-2 border p-2">
            <div class="row fw-bold">
              <div class="col">Dados do Voluntário</div>
            </div>
            <div class="row">
              <div class="col">Nome: Anderson José</div>
            </div>
            <div class="row">
              <div class="col">Whats: 11 999999-9999</div>
            </div>
            <div class="row">
              <div class="col">Email: anderson123@gmail.com</div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Improcedente
          </button>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')"
          >
            Procedente
          </button>
        </div>
      </ng-template> -->
    </div>
  </div>
</div>
