<div class="paragraph">
    <div class="border p-5 bg-warning">
      <div class="text-center"><h2>Perfil da Intituição</h2></div>
      <div>
        <div>
          <form class="needs-validation" novalidate>
            <div class="img_profile my-4">
              <img src="../../../assets/img/profile.png" alt="" />
              <div class="mb-3">
                <label for="formFileSm" class="form-label"
                  >Adicionar uma nova foto</label
                >
                <input
                  class="form-control form-control-sm"
                  id="formFileSm"
                  type="file"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationTooltip01">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip01"
                  placeholder="Nome"
                  value="Nome"
                  required
                />
                <div class="valid-tooltip">Tudo certo!</div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationTooltip05">CNPJ</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip05"
                  placeholder="999.999.999.99"
                  required
                  disabled
                />
                <div class="invalid-tooltip">
                  Por favor, informe um CPF válido.
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltipUsername">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text"
                      id="validationTooltipUsernamePrepend"
                      >@</span
                    >
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="validationTooltipUsername"
                    placeholder="Usuário"
                    aria-describedby="validationTooltipUsernamePrepend"
                    required
                  />
                  <div class="invalid-tooltip">
                    Por favor, escolha um usuário válido e único.
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationTooltipUsername">Telefone</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationTooltipUsername"
                    placeholder="Usuário"
                    aria-describedby="validationTooltipUsernamePrepend"
                    required
                  />
                  <div class="invalid-tooltip">
                    Por favor, escolha um usuário válido e único.
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationTooltip03">Cidade</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip03"
                  placeholder="Cidade"
                  required
                />
                <div class="invalid-tooltip">
                  Por favor, informe uma cidade válida.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationTooltip04">Estado</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip04"
                  placeholder="Estado"
                  required
                />
                <div class="invalid-tooltip">
                  Por favor, informe um estado válido.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationTooltip05">CEP</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationTooltip05"
                  placeholder="CEP"
                  required
                />
                <div class="invalid-tooltip">
                  Por favor, informe um CEP válido.
                </div>
              </div>
            </div>
          </form>
        </div>
        <hr />
        <div style="text-align: right" class="mr-3">
          <button class="btn btn-info text-white mx-3" type="submit">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
  
