.inputbox {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #000;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #000;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #000;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #000;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #000;
  display: flex;
  justify-content: space-between;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: #000;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  background: #5fc9fa;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
