<footer class="fotterespc border-top font-weight-bold mt-5">
  <div>
    <img src="../assets/img/logo-footer-no-slogan.png" class="logo mt-5" />
  </div>
  <div class="container-fluid">
    <div class="row mt-5 text-left">
      <div class="col-md-4 mb-4 separatorfooter">
        <p>Início</p>
        <p>Quem somos</p>
        <p>Duvidas frequentes</p>
        <p>Projetos</p>
      </div>

      <div class="col-md-4 mb-4 separatorfooter">
        <p>Endereço</p>
        <p>
          Av. Paulista, nº 165478313285,<br />
          Horário de atendimento: 8am - 20pm,<br />
          Telefone: (11)3434-4343,<br />
          São Paulo, SP - Brasil, CEP - 0101-01010
        </p>

        <p>
          Av. Sete de Setembro, nº 1546687285,<br />
          Horário de atendimento: 8am - 20pm,<br />
          Telefone: (41)4343-3434,<br />
          Curitiba, PR - Brasil, CEP - 8101-51610
        </p>
      </div>
      <div class="col-md-4">
        <p>Redes Sociais</p>
        <div class="col-md-4 mt-2 m-auto pb-3">
          <img src="../../../assets/img/i-facebook.png" /><br />
          Facebook
        </div>
        <div class="col-md-4 mt-2 m-auto pb-3">
          <img src="../../../assets/img/i-instagram.png" /><br />
          Instagram
        </div>
        <div class="col-md-4 mt-2 m-auto pb-3">
          <img src="../../../assets/img/i-twitter.png" /><br />
          Twitter
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <div class="divfooter"></div> -->
