<footer class="fotterespc">
  <div class="container">
    <div style="text-align: center">
      <img
        src="../assets/img/logo-footer-no-slogan.png"
        class="logo mt-5 mb-5"
      />
    </div>
    <div class="divisor mx-5"></div>
    <div class="row text-white text-center text-md-left">
      <div class="col-md-4">
        <h5>Inicio</h5>
        <ul class="text-center">
          <li>Vantagens de ser voluntário</li>
          <!-- <li>teste</li>
          <li>teste</li> -->
        </ul>
      </div>

      <div class="col-md-4">
        <h4>Links Uteis</h4>
        <ul>
          <li>Manual do Voluntáriado</li>
        </ul>
      </div>

      <div class="col-md-3 text-center mx-auto">
        <h4>Redes Sociais</h4>
        <div class="col-md-4  mx-auto">
          <img src="../../../assets/img/i-facebook.png" /><br />
          <p>Facebook</p>
        </div>
        <div class="col-md-4  mx-auto">
          <img src="../../../assets/img/i-instagram.png" /><br />
		  <p>Instagram</p>
        </div>
        <div class="col-md-4  mx-auto">
          <img src="../../../assets/img/i-twitter.png" />
          <p>Twitter</p>
        </div>
      </div>
    </div>
  </div>
</footer>
