<ng-template #contentModal let-modal>
  <div class="modal-header container-special">
    <h4 class="modal-title container-special">
      <p>{{ volunteerOpportunity.name }}</p>
    </h4>
    <button
      type="button"
      class="btn-close container-special btn-close-white"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body container-special">
    <div class="row" style="flex-wrap: wrap-reverse">
      <div class="col-sm-12 col-xl-7 p-3">
        <div class="descriptionText">
          <h5 class="fw-bold">Descrição da Oportunidade:</h5>
          <p>{{ volunteerOpportunity.description }}</p>
        </div>
        <div *ngIf="volunteerOpportunity.desirableQualifications.length > 0">
          <h5 class="fw-bold">Habilidades Desejadas:</h5>
          <p>{{  volunteerOpportunity.desirableQualifications }}</p>
        </div>
      </div>

      <div
        class="col-sm-12 col-xl-5 d-flex align-items-center hidden-xs hidden-sm"
      >
        <div
          class="mx-auto py-3 text-center"
          style="height: 400px; width: 400px"
        >
          <img
            [src]="
                        convertBase64ToPhotoUrl(volunteerOpportunity.photo)
                      "
            class="img-modal border border-4"
            alt=""
            style="
                        object-fit: cover;
                        max-width: 100%;
                        max-height: 100%;
                        aspect-ratio: 5/3;
                      "
          />
        </div>
      </div>
    </div>

    <div class="row p-3">
      <div class="col-sm-6">
        <div class="fw-bold">Publicado por:</div>
        {{ volunteerOpportunity.institution.name }}
      </div>
      <div class="col-sm-6">
        <div class="fw-bold">Publicado em:</div>
        {{ volunteerOpportunity.creationDate | date : "dd/MM/yyyy"}}
      </div>
    </div>

    <div class="row p-3">
      <div class="row">
        <div class="col">
          <i
            class="bi bi-calendar-week text-warning col"
            title="{{
                        volunteerOpportunity.opportunityDate
                          | date : 'dd/MM/yyyy'
                      }}"
          >
          </i>
          <span class="text-dark fw-bold"> Data: </span>
          {{
          volunteerOpportunity.opportunityDate | date : "dd/MM/yyyy"
          }}
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i
            class="bi bi-geo-alt-fill text-danger col"
            title="{{ volunteerOpportunity.address.city }} - {{
                        volunteerOpportunity.address.state
                      }}"
          >
          </i>
          <span class="text-dark fw-bold"> Local: </span>
          {{ volunteerOpportunity.address.city }} -
          {{ volunteerOpportunity.address.state }}
        </div>
      </div>

      <div class="row">
        <div class="col text-truncate">
          <i
            class="bi bi-bookmark-heart text-success"
            title="Causa(s): {{ volunteerOpportunity.causes }}"
          >
          </i>
          <span class="text-dark fw-bold">
                      Causa(s) Relacionada(s):
                    </span>
          {{ volunteerOpportunity.causes }}
        </div>
      </div>
    </div>
  </div>

  <div class=""></div>
  <div class="modal-footer container-special" *ngIf="shouldShowRegisterBtns">
    <button
      type="button"
      class="btn btn-primary container-special"
      [disabled]="volunteerOpportunity.isCandidateRegistered"
      (click)="registerToOpportunity($event, volunteerOpportunity)"
      *ngIf="userRole != 'UNKNOW'"
    >
      Participar
    </button>
  </div>
</ng-template>
