<div class="content">
  <div class="container">
    <div class="row my-3 d-flex justify-content-space-around">
      <div class="col">
        <h2 class="fs-3 text-primary">Meus Projetos</h2>
      </div>

      <div class="w-auto">
        <a
          class="btn btn-primary"
          role="button"
          routerLink="/opportunity/create"
        >
          <span class="bi bi-plus-lg"></span>
          Cadastrar Oportunidade
        </a>
      </div>
    </div>

    <p style="font-size: 0.8em">
      Legenda
      <i class="bi bi-trash text-danger"> - Exlcuir Oportunidade // </i>
      <i class="bi bi-pencil text-warning"> - Editar oportunidade // </i>
      <i class="bi bi-people-fill text-info"> - Consultar Inscritos</i>
    </p>

    <form [formGroup]="searchForm">
      <div class="row d-flex flex-wrap">
        <div class="w-auto mb-1">
          <div ngbDropdown>
            <button
              type="button"
              class="btn btn-light px-5"
              id="causes-dropdown"
              ngbDropdownToggle
            >
              Causas
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="causes-dropdown"
              class="dropdown-menu"
            >
              <button
                (click)="addCauseToSearch(opportunityCause)"
                ngbDropdownItem
                *ngFor="let opportunityCause of opportunityCauses"
              >
                {{ opportunityCause.name }}
              </button>
            </div>
          </div>
          <div
            *ngIf="selectedOpportunityCauses?.length > 0"
            class="d-flex flex-column mt-1"
          >
            <div
              *ngFor="let opportunityCause of selectedOpportunityCauses"
              class="d-flex flex-row mt-1"
            >
              <span class="me-2 w-50">{{ opportunityCause.name }}</span>
              <span
                (click)="removeOpportunityCause(opportunityCause)"
                role="button"
                class="bi bi-x-circle text-danger ms-2"
                title="Excluir {{ opportunityCause.name }}"
                style="cursor: pointer"
              ></span>
            </div>
          </div>
        </div>

        <div class="w-auto mb-1">
          <div ngbDropdown>
            <button
              type="button"
              class="btn btn-light px-5"
              id="federative-units-dropdown"
              ngbDropdownToggle
            >
              Estados
            </button>
            <div
              ngbDropdownMenu
              aria-labelledby="federative-units-dropdown"
              class="dropdown-menu"
            >
              <button
                (click)="addFederativeUnitToSearch(federativeUnit)"
                ngbDropdownItem
                *ngFor="let federativeUnit of federativeUnits"
              >
                {{ federativeUnit.name }} ({{ federativeUnit.abbreviation }})
              </button>
            </div>
          </div>
          <div
            *ngIf="selectedFederativeUnits?.length > 0"
            class="d-flex flex-column mt-1"
          >
            <div
              *ngFor="let federativeUnit of selectedFederativeUnits"
              class="d-flex flex-row mt-1"
            >
              <span class="me-2 w-50"
                >{{ federativeUnit.name }} ({{
                  federativeUnit.abbreviation
                }})</span
              >
              <span
                (click)="removeFederativeUnit(federativeUnit)"
                role="button"
                class="bi bi-x-circle text-danger ms-2"
                title="Excluir {{ federativeUnit.name }}"
                style="cursor: pointer"
              ></span>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center w-auto">
          <label for="inicial-date" class="form-label mb-0 me-1">Período</label>
          <input
            formControlName="initialDate"
            type="date"
            name="initialDate"
            id="inicial-date"
            title="Data inicial"
            class="form-control me-1"
          />
          <input
            formControlName="finalDate"
            type="date"
            name="finalDate"
            id="final-date"
            title="Data final"
            class="form-control w me-1"
          />
          <span
            (click)="clearDatesSelection()"
            role="button"
            class="bi bi-x-circle text-danger"
            title="Limpar seleção do período de datas"
          ></span>
        </div>
      </div>
    </form>

    <div class="row">
      <section *ngIf="searching" class="col d-flex justify-content-center mt-5">
        <div class="col-md-8 col-lg-4">
          <div class="fs-3 text-center">
            Pesquisando
            <span
              class="bi bi-arrow-clockwise text-info d-inline-block rotate"
            ></span>
          </div>
        </div>
      </section>

      <section
        *ngIf="volunteerOpportunities?.length == 0 && !searching"
        class="col d-flex justify-content-center mt-5"
      >
        <div class="col-md-8 col-lg-4">
          <div class="card">
            <div class="card-body fs-3 text-center">
              <span class="bi bi-exclamation-triangle"></span>
              Nenhuma oportunidade cadastrada
            </div>
          </div>
        </div>
      </section>

      <section
        *ngFor="let volunteerOpportunity of volunteerOpportunities"
        class="card card-content1 col-xs-10 col-sm-8 col-lg-5 col-xl-3"
        >
        <div class="col-sm-12">
          <div class="image-content">
            <span class="overlay"></span>
            <div class="card-image">
              <img
                [src]="convertBase64ToPhotoUrl(volunteerOpportunity.photo)"
                alt="Foto da oportunidade {{ volunteerOpportunity.name }}"
                class="card-img"
              />
            </div>
          </div>
          <div class="card-content row">
            <h2
              class="name col-10 text-truncate"
              title="{{ volunteerOpportunity.name }}"
            >
              {{ volunteerOpportunity.name }}
            </h2>
            <p
              class="description crop-text-5"
              title="{{ volunteerOpportunity.description }}"
            >
              {{ volunteerOpportunity.description }}
            </p>

            <div class="description2 text-center row">
              <div class="col text-truncate text-start">
                <i
                  class="bi bi-calendar-week text-warning"
                  title="{{
                    volunteerOpportunity.opportunityDate | date : 'dd/MM/yyyy'
                  }}"
                  ><span class="text-dark">
                    {{
                      volunteerOpportunity.opportunityDate | date : "dd/MM/yyyy"
                    }}</span
                  >
                </i>
              </div>
            </div>
            <div class="description2 text-center row">
              <div class="col text-truncate text-start">
                <i
                  class="bi bi-geo-alt-fill text-danger"
                  title="{{ volunteerOpportunity.address.city }} - {{
                    volunteerOpportunity.address.state
                  }}"
                  ><span class="text-dark"
                    >{{ volunteerOpportunity.address.city }} -
                    {{ volunteerOpportunity.address.state }}</span
                  >
                </i>
              </div>
            </div>
            <div class="description2 text-center row">
              <div class="col text-truncate text-start">
                <i
                  class="bi bi-bookmark-heart text-success"
                  title="Causa(s): {{ volunteerOpportunity.causes }}"
                  ><span class="text-dark text-start">{{
                    volunteerOpportunity.causes
                  }}</span>
                </i>
              </div>
            </div>
            <div class="row text-center my-3">
              <div class="col-4">
                <button
                  class="btn btn-sm btn-outline-danger"
                  (click)="deleteOpportunity(volunteerOpportunity)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
              <div class="col-4">
                <a
                  [routerLink]="['/opportunity/edit', volunteerOpportunity.id]"
                  class=""
                >
                  <button class="btn btn-sm btn-outline-warning">
                    <i class="bi bi-pencil"></i>
                  </button>
                </a>
              </div>
              <div class="col-4">
                <a
                  [routerLink]="[
                    '/applied-volunteers',
                    volunteerOpportunity.id
                  ]"
                  class=""
                >
                  <button class="btn btn-sm btn-outline-info">
                    <i class="bi bi-people-fill"></i>
                  </button>
                </a>
              </div>

              <!-- <div class="d-flex justify-content-end">
              <button
                (click)="deleteOpportunity(volunteerOpportunity)"
                class="btn btn-outline-danger rounded-5 w-100 me-2"
              >
                <span class="bi bi-trash3"></span>
                Excluir
              </button>
              <a
                [routerLink]="['/opportunity/edit', volunteerOpportunity.id]"
                class="btn btn-outline-primary rounded-5 w-100"
              >
                <span class="bi bi-pencil"></span>
                Editar
              </a>
            </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>

    <div *ngIf="hasNextPage" class="row d-flex justify-content-center mt-5">
      <div class="col col-md-2 d-flex justify-content-center">
        <button
          (click)="loadMoreOpportunities()"
          class="btn btn-outline-light text-primary"
        >
          Carregar mais
        </button>
      </div>
    </div>
  </div>
</div>
