<section class="container-fluid">
  <div class="row">
    <div class="col-md-12 my-5 d-flex justify-content-center">
      <div
        class="form-box col-md-8 col-lg-4 d-flex justify-content-center pt-3 border border-1 rounded-4"
      >
        <div>
          <form [formGroup]="form">
            <h2 class="text-center">Trocar Senha</h2>

            <div class="mb-3">
              <label for="password" class="form-label">Senha</label>
              <input
                id="password"
                type="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.get('password').invalid &&
                    (form.get('password').dirty || form.get('password').touched)
                }"
              />
              <div
                *ngIf="
                  form.get('password').invalid &&
                  (form.get('password').dirty || form.get('password').touched)
                "
                class="invalid-feedback"
              >
                Senha não preenchida
              </div>
            </div>

            <div class="mb-3">
              <label for="password-confirmation" class="form-label"
                >Confirmar Senha</label
              >
              <input
                id="password-confirmation"
                type="password"
                name="password-confirmation"
                placeholder=""
                formControlName="passwordConfirmation"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.get('passwordConfirmation').errors?.minlength &&
                    form.errors?.passwordDoesNotEqualPasswordConfirmation &&
                    (form.get('passwordConfirmation').dirty ||
                      form.get('passwordConfirmation').touched)
                }"
              />
              <div
                *ngIf="
                  form.get('passwordConfirmation').errors?.minlength &&
                  form.errors?.passwordDoesNotEqualPasswordConfirmation &&
                  (form.get('passwordConfirmation').dirty ||
                    form.get('passwordConfirmation').touched)
                "
                class="invalid-feedback"
              >
                A senha está diferente da confirmação da senha
              </div>
            </div>

            <div class="d-grid my-4">
              <button
                type="button"
                class="btn btn-primary btn-lg rounded-5"
                [disabled]="form.invalid"
              >
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
