<div class="body">
  <div class="slide-container swiper swiper-container">
    <div id="swiperA" class="slide-content">
      <div class="card-wrapper swiper-wrapper">
        <div
          class="card swiper-slide"
          *ngFor="let volunteerOpportunity of volunteerOpportunities"
        >
          <!-- Modal -->
          <ng-template #contentModal let-modal>
            <div class="modal-header container-special">
              <h4 class="modal-title container-special">
                <p>{{ volunteerOpportunity.name }}</p>
              </h4>
              <button
                type="button"
                class="btn-close container-special btn-close-white"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body container-special">
              <div class="row">
                <div class="col-8 border p-5">
                  <h5>Descrição da Oportunidade:</h5>
                  <p>{{ volunteerOpportunity.description }}</p>
                </div>
                <div class="col-4 d-flex aligns-items-center">
                  <img
                    [src]="volunteerOpportunity.photo"
                    class="img-modal"
                    alt=""
                  />
                </div>
              </div>
              <div class="row border">
                <div class="col-8 border">
                  <div class="row">
                    <div class="col-3">
                      <i
                        class="bi bi-calendar-week text-warning col"
                        title="{{
                          volunteerOpportunity.opportunityDate
                            | date : 'dd/MM/yyyy'
                        }}"
                        ><span class="text-dark">
                          {{
                            volunteerOpportunity.opportunityDate
                              | date : "dd/MM/yyyy"
                          }}</span
                        >
                      </i>
                    </div>

                    <div class="col-4">
                      <i
                        class="bi bi-geo-alt-fill text-danger col"
                        title="{{ volunteerOpportunity.address.city }} - {{
                          volunteerOpportunity.address.state
                        }}"
                        ><span class="text-dark"
                          >{{ volunteerOpportunity.address.city }} -
                          {{ volunteerOpportunity.address.state }}</span
                        >
                      </i>
                    </div>

                    <div class="col-2 text-truncate border">
                      <i
                        class="bi bi-bookmark-heart text-success"
                        title="Causa(s): {{ volunteerOpportunity.causes }}"
                        ><span class="text-dark text-start">{{
                          volunteerOpportunity.causes
                        }}</span>
                      </i>
                    </div>
                  </div>
                </div>
                <div class="col p-2">
                  <div class="">Publicado em:</div>
                  <div>Publicado por:</div>
                </div>
                <div class="row border p-5">
                  <h5>Principais Habilidades</h5>
                  <p>{{ volunteerOpportunity.description }}</p>
                  <p></p>
                </div>
              </div>

            </div>
            <div class=""></div>
            <div class="modal-footer container-special">
              <button
                type="button"
                class="btn btn-light container-special"
                (click)="modal.close('Close click')"
              >
                Participar
              </button>
            </div>
          </ng-template>


          <ng-template #contentModal1 let-modal>
            <div class="modal-header container-special">
              <h4 class="modal-title container-special">
                <p>{{ volunteerOpportunity.name }}</p>
              </h4>

              <button
                type="button"
                class="btn-close container-special btn-close-white"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              ></button>
            </div>
            <div class="modal-body container-special">
              <div class="row">
                <div class="col-8 border p-3">
                  <h5>Descrição da Voluntário:</h5>
                  <p>{{ volunteerOpportunity.description }}</p>
                </div>
                <div class="col-4 d-flex aligns-items-center">
                  <img
                    src="../../../../assets/img/picofme.png"
                    class="img-modal"
                    alt=""
                  />
                </div>
              </div>
              <div class="row border">
                <div class="col-8 border">
                  <div class="row p-3">
                    <h5>Principais Habilidades do Voluntário:</h5>
                    <p>{{ volunteerOpportunity.description }}</p>
                    <p></p>
                  
                  </div>
                </div>
                <div class="col p-2">
                  <div class="">LinkedIn: <i class="bi bi-linkedin"></i></div>
                </div>
                <div class="row border p-3">
                  <div class="mb-3">
                    <label for="causes" class="form-label"><h5>Convidar para Oportunidade:</h5></label>
                    <select
                      #causesSelect
                      class="form-select"
                      id="causes"
                      type="text"
                      name="causes"
                      (change)="addCause(causesSelect.value)"
                    >
                      <option disabled selected>Selecionar Oportunidade</option>
                      <option
                        *ngFor="let cause of opportunityCauses"
                        [value]="cause.code"
                      >
                        {{ cause.name }}
                      </option>
                    </select>
                    <div class="mt-2">
                      <span
                        *ngFor="let opportunityCause of selectedOpportunityCauses"
                        class="badge rounded-pill text-bg-info me-1"
                      >
                        {{ opportunityCause.name }}
                        <span
                          style="cursor: pointer"
                          class="bi bi-x"
                          title="Excluir {{ opportunityCause }}"
                          (click)="removeCause(opportunityCause)"
                        ></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

            
            </div>
            <div class=""></div>
            <div class="modal-footer container-special">
              <button
                type="button"
                class="btn btn-light container-special"
                (click)="modal.close('Close click')"
              >
                Convidar
              </button>
            </div>
          </ng-template>

          <div class="image-content">
            <span class="overlay"></span>

            <div class="card-image">
              <img
                [src]="convertBase64ToPhotoUrl(volunteerOpportunity.photo)"
                alt="Foto da oportunidade {{ volunteerOpportunity.name }}"
                class="card-img"
              />
            </div>

          </div>
          <div class="card-content row">
            <h2
              class="name col-10 text-truncate"
              title="{{ volunteerOpportunity.name }}"
            >
              {{ volunteerOpportunity.name }}
            </h2>
            <p
              class="description crop-text-5"
              title="{{ volunteerOpportunity.description }}"
            >
              {{ volunteerOpportunity.description }}
            </p>

            <div class="description2  row">
              <div class="col text-truncate ps-3">
                <i
                  class="bi bi-calendar-week text-warning"
                  title="{{
                    volunteerOpportunity.opportunityDate | date : 'dd/MM/yyyy'
                  }}"
                  ><span class="text-dark">
                    {{
                      volunteerOpportunity.opportunityDate | date : "dd/MM/yyyy"
                    }}</span
                  >
                </i>
              </div>
            </div>
            <div class="description2 row">
              <div class="col text-truncate ps-3">
                <i
                  class="bi bi-geo-alt-fill text-danger"
                  title="{{ volunteerOpportunity.address.city }} - {{
                    volunteerOpportunity.address.state
                  }}"
                  ><span class="text-dark"
                    >{{ volunteerOpportunity.address.city }} -
                    {{ volunteerOpportunity.address.state }}</span
                  >
                </i>
              </div>
            </div>
            <div class="description2 row">
              <div class="col text-truncate ps-3 pe-3">
                <i
                  class="bi bi-bookmark-heart text-success"
                  title="Causa(s): {{ volunteerOpportunity.causes }}"
                  ><span class="text-dark text-start">{{
                    volunteerOpportunity.causes
                  }}</span>
                </i>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button
                  class="button"
                  (click)="openXl(contentModal1, volunteerOpportunity)"
                >
                  Detalhes
                </button>
              </div>
              <div class="col">
                <button class="button">Participar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div id="swiper-pagination" class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div id="swiper-button-prev" class="swiper-button-prev swiper-navBtn"></div>
    <div id="swiper-button-next" class="swiper-button-next swiper-navBtn"></div>
  </div>
</div>
