<div class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-11">
      <div class="container border border-1 rounded-4 p-4">

        <h2 class="bold text-start">Oportunidades Agendadas</h2>
        <p>
          Aqui você encontra uma relação das oportunidades que estão programadas! Fique atento!
        </p>


        <div style="display: flex; justify-content: center" *ngIf="isLoading">
          <div class="loader"></div>
        </div>

        <div *ngIf="volunteerRegistrations.length == 0 && !isLoading"
             class="text-center text-bg-warning border rounded m-5">
          <p class="bold align-middle m-3 fw-bold">Você ainda não agendou nenhum evento!</p>
        </div>

        <div *ngIf="volunteerRegistrations.length > 0 && !isLoading">
          <!-- Add tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 0" (click)="activeTab = 0">ACEITAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 1" (click)="activeTab = 1">PENDENTES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 2" (click)="activeTab = 2">RECUSADAS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 3" (click)="activeTab = 3">CANCELADAS</a>
            </li>
          </ul>

          <div class="tab-content mt-3">
            <div class="tab-pane fade show" [class.active]="activeTab === 0">
              <ul class="applications">
                <li *ngFor="let volunteerRegistration of filterRegistrationsByStatus('ACCEPTED')" class="volunteer">
                  <div class="thumb">
                    <img
                      [src]="
                        convertBase64ToPhotoUrl(
                          volunteerRegistration.opportunity.photo
                        )
                      "
                      alt=""
                    />
                  </div>
                  <div class="description">
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <h4>{{ volunteerRegistration.opportunity.description }}</h4>
                      </div>
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <p class="" style="font-size: 0.8em">
                          Organizadores:
                          {{
                          volunteerRegistration.opportunity.institution.name
                          }}
                        </p>
                      </div>
                    </div>

                    <div>
                      <div class="row ps-3">
                        <div class="col-lg-5 col-sm-6 text-truncate">
                          <i class="bi bi-geo-alt-fill text-danger"></i>
                          <span class="text-dark text-truncate">
                            Local:
                            {{
                            volunteerOpportunityCompleteAddress(volunteerRegistration)
                            }}</span
                          >
                        </div>
                      </div>
                      <div class="row ps-3">
                        <div class="col-lg-6 col-sm-6 text-truncate">
                          <i class="bi bi-puzzle-fill text-warning"> </i>
                          <span class="text-dark text-truncate">
                            Data:
                            {{
                            volunteerRegistration.opportunity.opportunityDate
                              | date : "short"
                            }}</span
                          >
                        </div>
                      </div>
                      <div class="row ps-3">
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-telephone-fill text-success" title=""
                          ><span
                            class="text-dark"> Fone: {{ volunteerRegistration.opportunity.institution.telephone }}</span>
                          </i>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-envelope-at-fill text-info"> </i>
                          <span
                            class="text-dark"> Email: {{ volunteerRegistration.opportunity.institution.email }}</span>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-check-square-fill text-info"> </i>
                          <span class="text-dark"> Status: </span>
                          {{ registrationStatus(volunteerRegistration) }}
                        </div>
                      </div>
                      <!-- <div class="action-buttons my-4">
                        <div class="row">
                          <div class="col-6 col-lg-9">
                            <button class="btn btn-outline-danger">
                              Recusar
                            </button>
                          </div>
                          <div class="col-2 col-lg-2">
                            <button class="btn btn-primary">Aceitar</button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade show" [class.active]="activeTab === 1">
              <ul class="applications">
                <li *ngFor="let volunteerRegistration of filterRegistrationsByStatus('PENDING')" class="volunteer">
                  <div class="thumb">
                    <img
                      [src]="
                        convertBase64ToPhotoUrl(
                          volunteerRegistration.opportunity.photo
                        )
                      "
                      alt=""
                    />
                  </div>
                  <div class="description">
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <h4>{{ volunteerRegistration.opportunity.description }}</h4>
                      </div>
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <p class="" style="font-size: 0.8em">
                          Organizadores:
                          {{
                          volunteerRegistration.opportunity.institution.name
                          }}
                        </p>
                      </div>
                    </div>

                    <div>
                      <div class="row ps-3">
                        <div class="col-lg-5 col-sm-6 text-truncate">
                          <i class="bi bi-geo-alt-fill text-danger"></i>
                          <span class="text-dark text-truncate">
                            Local:
                            {{
                            volunteerOpportunityAddress(volunteerRegistration)
                            }}</span
                          >
                        </div>
                        <div class="col-lg-6 col-sm-6 text-truncate">
                          <i class="bi bi-puzzle-fill text-warning"> </i>
                          <span class="text-dark text-truncate">
                            Data:
                            {{
                            volunteerRegistration.opportunity.opportunityDate
                              | date : "short"
                            }}</span
                          >
                        </div>
                      </div>
                      <div class="row ps-3">
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-telephone-fill text-success" title=""
                          ><span
                            class="text-dark"> Fone: {{ volunteerRegistration.opportunity.institution.telephone }}</span>
                          </i>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-envelope-at-fill text-info"> </i>
                          <span
                            class="text-dark"> Email: {{ volunteerRegistration.opportunity.institution.email }}</span>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-check-square-fill text-info"> </i>
                          <span class="text-dark"> Status: </span>
                          {{ registrationStatus(volunteerRegistration) }}
                        </div>
                      </div>
                      <!-- <div class="action-buttons my-4">
                        <div class="row">
                          <div class="col-6 col-lg-9">
                            <button class="btn btn-outline-danger">
                              Recusar
                            </button>
                          </div>
                          <div class="col-2 col-lg-2">
                            <button class="btn btn-primary">Aceitar</button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade show" [class.active]="activeTab === 2">
              <ul class="applications">
                <li *ngFor="let volunteerRegistration of filterRegistrationsByStatus('DENIED')" class="volunteer">
                  <div class="thumb">
                    <img
                      [src]="
                        convertBase64ToPhotoUrl(
                          volunteerRegistration.opportunity.photo
                        )
                      "
                      alt=""
                    />
                  </div>
                  <div class="description">
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <h4>{{ volunteerRegistration.opportunity.description }}</h4>
                      </div>
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <p class="" style="font-size: 0.8em">
                          Organizadores:
                          {{
                          volunteerRegistration.opportunity.institution.name
                          }}
                        </p>
                      </div>
                    </div>

                    <div>
                      <div class="row ps-3">
                        <div class="col-lg-5 col-sm-6 text-truncate">
                          <i class="bi bi-geo-alt-fill text-danger"></i>
                          <span class="text-dark text-truncate">
                            Local:
                            {{
                            volunteerOpportunityAddress(volunteerRegistration)
                            }}</span
                          >
                        </div>
                        <div class="col-lg-6 col-sm-6 text-truncate">
                          <i class="bi bi-puzzle-fill text-warning"> </i>
                          <span class="text-dark text-truncate">
                            Data:
                            {{
                            volunteerRegistration.opportunity.opportunityDate
                              | date : "short"
                            }}</span
                          >
                        </div>
                      </div>
                      <div class="row ps-3">
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-telephone-fill text-success" title=""
                          ><span
                            class="text-dark"> Fone: {{ volunteerRegistration.opportunity.institution.telephone }}</span>
                          </i>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-envelope-at-fill text-info"> </i>
                          <span
                            class="text-dark"> Email: {{ volunteerRegistration.opportunity.institution.email }}</span>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-check-square-fill text-info"> </i>
                          <span class="text-dark"> Status: </span>
                          {{ registrationStatus(volunteerRegistration) }}
                        </div>
                      </div>
                      <!-- <div class="action-buttons my-4">
                        <div class="row">
                          <div class="col-6 col-lg-9">
                            <button class="btn btn-outline-danger">
                              Recusar
                            </button>
                          </div>
                          <div class="col-2 col-lg-2">
                            <button class="btn btn-primary">Aceitar</button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade show" [class.active]="activeTab === 3">
              <ul class="applications">
                <li *ngFor="let volunteerRegistration of filterRegistrationsByStatus('CANCELED')" class="volunteer">
                  <div class="thumb">
                    <img
                      [src]="
                        convertBase64ToPhotoUrl(
                          volunteerRegistration.opportunity.photo
                        )
                      "
                      alt=""
                    />
                  </div>
                  <div class="description">
                    <div class="row">
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <h4>{{ volunteerRegistration.opportunity.description }}</h4>
                      </div>
                      <div class="col-lg-6 col-sm-12 text-truncate">
                        <p class="" style="font-size: 0.8em">
                          Organizadores:
                          {{
                          volunteerRegistration.opportunity.institution.name
                          }}
                        </p>
                      </div>
                    </div>

                    <div>
                      <div class="row ps-3">
                        <div class="col-lg-5 col-sm-6 text-truncate">
                          <i class="bi bi-geo-alt-fill text-danger"></i>
                          <span class="text-dark text-truncate">
                            Local:
                            {{
                            volunteerOpportunityAddress(volunteerRegistration)
                            }}</span
                          >
                        </div>
                        <div class="col-lg-6 col-sm-6 text-truncate">
                          <i class="bi bi-puzzle-fill text-warning"> </i>
                          <span class="text-dark text-truncate">
                            Data:
                            {{
                            volunteerRegistration.opportunity.opportunityDate
                              | date : "short"
                            }}</span
                          >
                        </div>
                      </div>
                      <div class="row ps-3">
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-telephone-fill text-success" title=""
                          ><span
                            class="text-dark"> Fone: {{ volunteerRegistration.opportunity.institution.telephone }}</span>
                          </i>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-envelope-at-fill text-info"> </i>
                          <span
                            class="text-dark"> Email: {{ volunteerRegistration.opportunity.institution.email }}</span>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-truncate">
                          <i class="bi bi-check-square-fill text-info"> </i>
                          <span class="text-dark"> Status: </span>
                          {{ registrationStatus(volunteerRegistration) }}
                        </div>
                      </div>
                      <!-- <div class="action-buttons my-4">
                        <div class="row">
                          <div class="col-6 col-lg-9">
                            <button class="btn btn-outline-danger">
                              Recusar
                            </button>
                          </div>
                          <div class="col-2 col-lg-2">
                            <button class="btn btn-primary">Aceitar</button>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
