<div class="content">
  <div class="container">
    <div class="px-2">
      <div *ngIf="volunteerRegistrations.length == 0">
        <p class="bold">Você ainda não realizou nenhum evento</p>
      </div>

      <div *ngIf="volunteerRegistrations.length > 0">
        <h2 class="bold">Oportunidades agendadas</h2>
        <div class="row">
          <div class="col-md-10">
            <table class="table">
              <thead>
                <tr>
                  <th class="col">Instituição</th>
                  <th class="col">Oportunidade</th>
                  <th class="col">Data</th>
                  <th class="col">Endereço</th>
                  <th class="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let volunteerRegistration of volunteerRegistrations"
                  class="border-top border-bottom"
                >
                  <td>
                    {{ volunteerRegistration.opportunity.institution.name }}
                  </td>
                  <td>
                    {{ volunteerRegistration.opportunity.name }}
                  </td>
                  <td>
                    {{
                      volunteerRegistration.opportunity.opportunityDate
                        | date : 'shortDate'
                    }}
                  </td>
                  <td>{{volunteerOpportunityAddress(volunteerRegistration)}}</td>
                  <td>
                    {{ registrationStatus(volunteerRegistration) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
