.content {
    /* background: aliceblue; */
    padding:  5% 5% 5% 5%;
    /* margin: 5% 0% 5% 0%; */
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 254, 255, 0.8), rgba(243, 245, 245, 0.8))90% 0%/5px 0px;
    text-align: justify;
   }

h2 {
	text-align: center;
}

.applications {
	/* padding: 2em 0 2em 2.5em; */
	margin: 0;
}

.volunteer {
    width: 100%;
	/* margin: 1em; */
	padding: 0.73em;
	background: linear-gradient(
		/* 83deg, */
		#f8ffff 0 97%,
		rgba(211, 12, 12, 0) calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: all 0.1s ease 0s;
    border: 1px solid #72e4de;
    border-radius: 50px;
}

.volunteer:nth-of-type(even) {
	text-align: right;
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		-83deg,
		#ffffff 0 40%,
		#72e4de 0% 100%
	);
	transform: rotate(-4deg);
	transition: all 0.4s ease 0s;
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.volunteer:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: #ffffff;
}

.volunteer:hover {
    box-shadow: 0 0 50px rgba(33,33,33,.4);
}

.volunteer:hover .thumb {
	padding: 0.1em;
	transition: all 0.4s ease 0s;
	transform: rotate(-1deg);
	--deg: -89deg;
}

.volunteer:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.volunteer:hover .thumb img {
	filter: none;
	transition: all 0.4s ease 0s;
}

.description {
	padding-top: 1vmin;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
}

/* h3 {
	background: linear-gradient(182deg, #fff0 60%, var(--dark) 0 100%);
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: #72e4de;
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
}

.member:hover h3 {
	transition: all 0.4s ease 0s;
	transform: rotate(0deg);
	background: linear-gradient(180deg, #fff0 59%, var(--dark) 0 100%);
} */

/* .co-funder:after {
	content: "CO-FUNDER";
	font-size: 0.75em;
	position: absolute;
	top: -1.5em;
	background: #72e4de;
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
	font-weight: bold;
} */
/*
.co-funder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
} */

.description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: #72e4de;
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: all 0.4s ease 0s;
}
.description p a:hover {
	transition: all 0.4s ease 0s;
	color: var(--dark);
	background: #72e4de;
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}

.action-buttons{
    text-align: end;
}

a {
    text-decoration: none;
}
