<div class="content">
  <section class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div
          class="col-md-10 col-lg-10 px-4 py-3 d-flex justify-content-center border border-1 rounded-4"
        >
          <form [formGroup]="form" class="row">
            <h2>Perfil da Instituição</h2>

            <div class="mb-3">
              <label for="cnpj" class="form-label">CNPJ</label>
              <input
                id="cnpj"
                type="text"
                name="cnpj"
                formControlName="cnpj"
                mask="00.000.000/0000-00"
                [showMaskTyped]="true"
                [dropSpecialCharacters]="false"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.get('cnpj').invalid &&
                    (form.get('cnpj').dirty || form.get('cnpj').touched)
                }"
              />
              <div
                *ngIf="
                  form.get('cnpj').invalid &&
                  (form.get('cnpj').dirty || form.get('cnpj').touched)
                "
                class="invalid-feedback"
              >
                CNPJ inválido
              </div>
            </div>

            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input
                id="name"
                type="text"
                name="name"
                formControlName="name"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.get('name').errors?.minlength &&
                    (form.get('name').dirty || form.get('name').touched)
                }"
              />
              <div
                *ngIf="
                  form.get('name').errors?.minlength &&
                  (form.get('name').dirty || form.get('name').touched)
                "
                class="invalid-feedback"
              >
                Nome inválido
              </div>
            </div>

            <div class="mb-3">
              <label for="telephone" class="form-label">Celular</label>
              <input
                id="telephone"
                type="text"
                name="telephone"
                formControlName="telephone"
                mask="(00) 90000-0000"
                [showMaskTyped]="true"
                [dropSpecialCharacters]="false"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.get('telephone').invalid &&
                    (form.get('telephone').dirty ||
                      form.get('telephone').touched)
                }"
              />
              <div
                *ngIf="
                  form.get('telephone').invalid &&
                  (form.get('telephone').dirty || form.get('telephone').touched)
                "
                class="invalid-feedback"
              >
                Celular inválido
              </div>
            </div>

            <div class="mb-3">
              <label for="biography" class="form-label"
                >Conte um pouco sobre você</label
              >
              <textarea
                class="form-control"
                rows="4"
                id="biography"
                type="text"
                name="biography"
                formControlName="biography"
                [ngClass]="{
                  'is-invalid':
                    form.get('biography').invalid &&
                    (form.get('biography').dirty ||
                      form.get('biography').touched)
                }"
              ></textarea>
              <div
                class="invalid-feedback"
                *ngIf="
                  (form.get('biography').invalid ||
                    form.get('biography').errors?.minlength) &&
                  (form.get('biography').dirty || form.get('biography').touched)
                "
              >
                Pelo menos 12 caracteres.
              </div>
            </div>

            <ngb-accordion class="mb-3">
              <ngb-panel title="Endereço">
                <ng-template ngbPanelContent>
                  <div formGroupName="address">
                    <div class="mb-3">
                      <label for="postal-code" class="form-label">CEP</label>
                      <input
                        id="postal-code"
                        type="text"
                        formControlName="postalCode"
                        mask="00000-000"
                        [dropSpecialCharacters]="false"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            (form.get('address').get('postalCode').invalid ||
                              postalCodeInvalid) &&
                            (form.get('address').get('postalCode').dirty ||
                              form.get('address').get('postalCode').touched)
                        }"
                      />
                      <div
                        *ngIf="
                          (form.get('address').get('postalCode').invalid ||
                            postalCodeInvalid) &&
                          (form.get('address').get('postalCode').dirty ||
                            form.get('address').get('postalCode').touched)
                        "
                        class="invalid-feedback"
                      >
                        CEP inválido
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="street" class="form-label">Logradouro</label>
                      <input
                        id="street"
                        type="text"
                        name="street"
                        formControlName="street"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            form.get('address').get('street').invalid &&
                            (form.get('address').get('street').dirty ||
                              form.get('address').get('street').touched)
                        }"
                      />
                      <div
                        *ngIf="
                          form.get('address').get('street').invalid &&
                          (form.get('address').get('street').dirty ||
                            form.get('address').get('street').touched)
                        "
                        class="invalid-feedback"
                      >
                        Logradouro inválido
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="street-number" class="form-label"
                        >Número</label
                      >
                      <input
                        id="street-number"
                        type="text"
                        name="street-number"
                        formControlName="number"
                        class="form-control"
                      />
                    </div>

                    <div class="mb-3">
                      <label for="complement" class="form-label"
                        >Complemento</label
                      >
                      <input
                        id="complement"
                        type="text"
                        name="complement"
                        formControlName="complement"
                        class="form-control"
                      />
                    </div>

                    <div class="mb-3">
                      <label for="neighborhood" class="form-label"
                        >Bairro</label
                      >
                      <input
                        id="neighborhood"
                        type="text"
                        name="neighborhood"
                        formControlName="neighborhood"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            form.get('address').get('neighborhood').invalid &&
                            (form.get('address').get('neighborhood').dirty ||
                              form.get('address').get('neighborhood').touched)
                        }"
                      />
                      <div
                        *ngIf="
                          form.get('address').get('neighborhood').invalid &&
                          (form.get('address').get('neighborhood').dirty ||
                            form.get('address').get('neighborhood').touched)
                        "
                        class="invalid-feedback"
                      >
                        É necessário informar o bairro
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="city" class="form-label">Cidade</label>
                      <input
                        id="city"
                        type="text"
                        name="city"
                        formControlName="city"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            form.get('address').get('city').invalid &&
                            (form.get('address').get('city').dirty ||
                              form.get('address').get('city').touched)
                        }"
                      />
                      <div
                        *ngIf="
                          form.get('address').get('city').invalid &&
                          (form.get('address').get('city').dirty ||
                            form.get('address').get('city').touched)
                        "
                        class="invalid-feedback"
                      >
                        Cidade não informada
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="state" class="form-label">Estado</label>
                      <input
                        id="state"
                        type="text"
                        name="state"
                        formControlName="state"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid':
                            form.get('address').get('state').invalid &&
                            (form.get('address').get('state').dirty ||
                              form.get('address').get('state').touched)
                        }"
                      />
                      <div
                        *ngIf="
                          form.get('address').get('state').invalid &&
                          (form.get('address').get('state').dirty ||
                            form.get('address').get('state').touched)
                        "
                        class="invalid-feedback"
                      >
                        Estado não informado
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>

            <div *ngIf="!hideEmail" class="mb-3 d-none">
              <label for="email" class="form-label">E-mail</label>
              <input
                id="email"
                type="email"
                name="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    form.get('email').invalid &&
                    (form.get('email').dirty || form.get('email').touched)
                }"
              />
              <div
                *ngIf="
                  form.get('email').invalid &&
                  (form.get('email').dirty || form.get('email').touched)
                "
                class="invalid-feedback"
              >
                E-mail não informado
              </div>
            </div>

            <div class="mt-1 d-flex justify-content-end">
              <button
                type="button"
                [disabled]="form.invalid"
                class="btn btn-primary"
                (click)="save()"
              >
                Salvar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
