<div class="content">
    <div style="max-height: 500px; overflow: hidden;" class="px-2">
        <div *ngIf="realizados.length == 0">
          <p class="bold">Você ainda não realizou nenhum evento!</p>
        </div>
    
        <div *ngIf="realizados.length > 0">
          <p class="bold">Você realizou dos seguintes eventos:</p>
          
          <div class="row text-white bg-info">
            <div class="col col-sm-2">Tipo do evento</div>
            <div class="col col-sm-3">Nome</div>
            <div class="col col-sm-3">Data da Conclusão</div>
            <div class="col col-sm-2 text-center">Certificado</div>
            <div class="col col-sm-2 text-center">Relatar Problema</div>
          </div>
          <div style="min-height: 500px;">
            <div *ngFor="let realizado of realizados" class="border-top border-bottom">
              <div class="row">
                <div class="col col-sm-2" title="{{realizado.type}}">{{realizado.type}}</div>
                <div class="col col-sm-3" title="{{realizado.name}}">{{realizado.name}}</div>
                <div class="col col-sm-3" title="{{realizado.date}}">{{realizado.date}}</div>
                <div class="col col-sm-2 text-center" title="{{realizado.certificado}}" >
                  <button class="btn btn-sm btn-outline-primary" [disabled]="!realizado.certificate">
                    <i class="bi bi-aspect-ratio" (click)="open(content)"></i>
                  </button>
                </div>
                <div class="col col-sm-2 text-center" title="{{realizado.certificado}}" >
                  <button class="btn btn-sm btn-outline-danger">
                    <i class="bi bi-exclamation-circle" (click)="openIssue(content2)"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="row">
          <div class="col" style="text-align: left;">
            <button class="btn btn-sm btnCollor text-white">Anterior</button>
          </div>
          <div class="col" style="text-align: right;">
            <button class="btn btn-sm btnCollor text-white">Próximo</button>
          </div>
        </div>
      </div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Certificado</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body certificate text-center">
    <div class="row mt-5 pt-5">
      <p>
        Certificado de Participação
      </p>
      <p class="p-5 mx-5 col">
        Certificamos que {{voluntario}} participou do evento realizado pela {{instituicao}}, com o tema {{2}}, 
        realizado na data de {{date}}, desenvolvendo habilidades como {{1}} e contribuindo para uma sociedade melhor.
      </p>
    </div><br>
    <div class="row text-center">
      <p>São Paulo, 03 de Março de 2023.</p>
    </div>
		<!-- <form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form> -->
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<ng-template #content2 let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title2">Relatar Problema</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="mb-3" style="max-height: 30vh;">
      <label for="exampleFormControlTextarea1" class="form-label">Conte-nos sobre o que aconteceu:</label>
      <textarea  style="max-height: 30vh;" class="form-control" id="exampleFormControlTextarea1" rows="5" cols="5"></textarea>
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Enviar</button>
	</div>
</ng-template>
