<div class="content">
  <div style="max-height: 500px; overflow: hidden" class="px-2">
    <div *ngIf="volunteerRegistrations.length == 0">
      <p class="bold">Você ainda não realizou nenhum evento</p>
    </div>

    <div *ngIf="volunteerRegistrations.length > 0">
      <h2 class="bold">Oportunidades</h2>

      <table class="table">
        <thead>
          <tr>
            <th class="col">Instituição</th>
            <th class="col">Oportunidade</th>
            <th class="col">Data</th>
            <th class="col">Certificado</th>
            <th class="col">Relatar Problema</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let volunteerRegistration of volunteerRegistrations">
            <td>
              {{ volunteerRegistration.opportunity.institution.name }}
            </td>
            <td>
              {{ volunteerRegistration.opportunity.name }}
            </td>
            <td>
              {{
                volunteerRegistration.opportunity.opportunityDate
                  | date : "shortDate"
              }}
            </td>
            <td>
              <button
                class="btn btn-sm btn-outline-primary"
                title="Mostrar Certificado"
              >
                <i
                  class="bi bi-card-text"
                  (click)="
                    openCertificate(volunteerRegistration, certificateModal)
                  "
                ></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-sm btn-outline-danger"
                title="Relatar Problema"
              >
                <i
                  class="bi bi-exclamation-circle"
                  (click)="openIssue(problemModal)"
                ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #certificateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Certificado</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body certificate text-center">
    <div class="row mt-5 pt-5 mx-5">
      <p>Certificado de Participação</p>
      <p>
        Certificamos que {{ currentCandidate.name }} participou da oportunidade
      </p>
      <p>

        realizado pela
        {{ instituicao }}, com o tema {{ 2 }}, realizado na data de {{ date }},
        desenvolvendo habilidades como {{ 1 }} e contribuindo para uma sociedade
        melhor.
      </p>
    </div>
    <br />
    <div class="row text-center">
      <p>São Paulo, 03 de Março de 2023.</p>
    </div>
    <!-- <form>
			<div class="mb-3">
				<label for="dateOfBirth">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form> -->
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #problemModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Relatar Problema</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3" style="max-height: 30vh">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Conte-nos sobre o que aconteceu:</label
      >
      <textarea
        style="max-height: 30vh"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
        cols="5"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Enviar
    </button>
  </div>
</ng-template>
