 .content {
   background: aliceblue;
   padding: 5% 20% 5% 20%;
   margin: 5% 0% 5% 0%;
   border-style: solid;
   border-width: 5px;
   border-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(255, 254, 255, 0.8), rgba(243, 245, 245, 0.8))90% 0%/5px 0px;
   text-align: justify;
 }


 .certificate {
   position: relative;
   height: 750px;
   width: 100%;
   align-items: center;
   justify-content: center;
 }

 .certificate::before {
   content: "";
   background: url(../../../../assets/img/Certificate.png) no-repeat center;
   background-size: contain;
   position: absolute;
   top: 0px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   z-index: 0;
   /* opacity: 0.050; */
 }

 p {
   z-index: 1;
 }

 :root {
   --yellow: #ffdd40;
   --dark: #2f313a;
   --deg: -86deg;
   --trans: all 0.4s ease 0s;
 }

 body {
   margin: 0;
   padding: 0;
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   font-family: "Lato", Arial, Helvetica, serif;
   background: linear-gradient(90deg, #131417, #2f313a 35% 65%, #131417);
   font-size: 1em;
 }

 body *,
 body *:before,
 body *:after {
   box-sizing: border-box;
 }

 /* .content {
	width: 90vmin;
} */

 h2 {
   text-align: center;
 }

 .team {
   padding: 2em 0 2em 2.5em;
   margin: 0;
 }

 .member {
   margin: 1.5em 0 0.5em;
   padding: 0.73em;
   background: linear-gradient(83deg,
       #2cb1c9 0 97%,
       #fff0 calc(97% + 1px) 100%);
   position: relative;
   list-style: none;
   display: inline-block;
   transform: scale(0.85);
   transition: all 0.4s ease 0s;
 }

 .member:nth-of-type(even) {
   text-align: right;
   background: linear-gradient(-83deg,
       #2cb1c9 0 97%,
       #fff0 calc(97% + 1px) 100%);
 }

 .thumb {
   width: 13vmin;
   height: 13vmin;
   float: left;
   margin-right: 1.25em;
   background: linear-gradient(-86deg,
       #2f313a 0 70%,
       #2cb1c9 0% 100%);
   transform: rotate(-4deg);
   transition: all 0.4s ease 0s;
   border-radius: 0.25em;
   overflow: hidden;
   margin-left: -3em;
   padding: 0.5em;
 }

 .member:nth-of-type(even) .thumb {
   --deg: 86deg;
   float: right;
   margin-left: 2em;
   margin-right: -3em;
   transform: rotate(4deg);
 }

 .thumb img {
   width: 100%;
   height: 100%;
   border-radius: 0.25em;
   filter: grayscale(1);
   background: #2f313a;
 }

 .member:hover {
   transform: scale(1);
   transition: all 0.4s ease 0s;
   filter: drop-shadow(0px 20px 10px #0008);
 }

 .member:hover .thumb {
   padding: 0.1em;
   transition: all 0.4s ease 0s;
   transform: rotate(-1deg);
   --deg: -89deg;
 }

 .member:nth-of-type(even):hover .thumb {
   --deg: 91deg;
 }

 .member:hover .thumb img {
   filter: none;
   transition: all 0.4s ease 0s;
 }

 .description {
   padding-top: 1vmin;
 }

 .description p {
   padding: 0 2em;
   margin-bottom: 1em;
 }

 h3 {
   background: linear-gradient(182deg, #fff0 60%, #2f313a 0 100%);
   display: inline;
   transform: rotate(-2deg);
   position: absolute;
   margin: 0;
   margin-top: -2.25em;
   left: 9vmin;
   padding: 0.5em 0.75em;
   color: #ffdd40;
   border-radius: 0.25em;
   font-size: 1.35em;
   transform-origin: left bottom;
 }

 .member:nth-of-type(even) h3 {
   left: inherit;
   right: 9vmin;
   transform: rotate(2deg);
   transform-origin: right bottom;
   background: linear-gradient(-182deg, #fff0 60%, #2f313a 0 100%);
 }

 .member:hover h3 {
   transition: all 0.4s ease 0s;
   transform: rotate(0deg);
   background: linear-gradient(180deg, #fff0 59%, #2f313a 0 100%);
 }

 .co-funder:after {
   content: "";
   font-size: 0.75em;
   position: absolute;
   top: -1.5em;
   background: #ffdd40;
   right: 4em;
   transform: rotate(3deg);
   padding: 0.35em 0.75em 0.5em;
   border-radius: 0.25em;
   color: #2f313a;
   font-weight: bold;
 }

 .co-funder:nth-of-type(even):after {
   right: inherit;
   left: 4em;
   transform: rotate(-3deg);
 }

 .description p a {
   display: inline-block;
   margin: 0.5em 0 0 0;
   background: #2f313a;
   color: #ffdd40;
   padding: 0.1em 0.5em 0.35em;
   border-radius: 0.5em;
   text-decoration: none;
   transition: all 0.4s ease 0s;
 }

 .description p a:hover {
   transition: all 0.4s ease 0s;
   color: #2f313a;
   background: #ffdd40;
   font-weight: bold;
 }

 .description p a img {
   float: left;
   width: 22px;
   filter: invert(1);
   border-radius: 0.15em;
   padding: 2px;
   background: #fff;
   margin-right: 2px;
 }