<div>Conheça as causas que mais precisam de você neste mês!</div>

<div class="body" id="causes">

  <div class="container">
    <a href="/opportunities?causes=fight-against-hunger">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <span class="stars"></span>
            <h2 class="cardA">Combate a Fome</h2>
            <p class="cardA">O combate à fome é uma causa crucial que envolve ajudar as pessoas que sofrem de
              insegurança alimentar e garantir que todos tenham acesso adequado a alimentos nutritivos.</p>
          </div>
        </div>
        <div class="face face2">
          <h2>Combate a Fome</h2>
        </div>
      </div>
    </a>

    <a href="/opportunities?causes=youth">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <span class="stars"></span>
            <h2 class="cardB">Jovens</h2>
            <p class="cardB">Existem diversas oportunidades de voluntariado relacionadas à causa dos jovens. Essas
              oportunidades podem abranger áreas como educação, mentoria, empoderamento, desenvolvimento de habilidades
              e
              muito mais. .</p>
          </div>
        </div>
        <div class="face face2">
          <h2>Jovens</h2>
        </div>
      </div>
    </a>

    <a href="/opportunities?causes=environment">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <span class="stars"></span>
            <h2 class="cardC">Meio Ambiente</h2>
            <p class="cardC">A causa do meio ambiente é de extrema importância para garantir um futuro sustentável para
              o
              nosso planeta.</p>
          </div>
        </div>
        <div class="face face2">
          <h2>Meio Ambiente</h2>
        </div>
      </div>
    </a>
  </div>
</div>
