<div>Conheça as causas que mais precisam de você neste mês!</div>

<div class="body">

    <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="cardA">Combate a Fome</h2>
              <p class="cardA">Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
          </div>
          <div class="face face2">
            <h2>Combate a Fome</h2>
          </div>
        </div>
      
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="cardB">Jovens</h2>
              <p class="cardB">Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
          </div>
          <div class="face face2">
            <h2>Jovens</h2>
          </div>
        </div>
      
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="cardC">Meio Ambiente</h2>
              <p class="cardC">Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
          </div>
          <div class="face face2">
            <h2>Meio Ambiente</h2>
          </div>
        </div>
      </div>
</div>