<div class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="container border border-1 rounded-4 p-4">
        <div class="">
          <h3 class="text-start">Voluntários</h3>
        </div>
        <p>
          Aqui você encontra a relação de voluntários inscritos para vaga
          <span class="fw-bold fst-italic">{{
            volunteerOpportunity?.name
            }}</span
          >.
        </p>

        <ul class="nav nav-tabs">
          <li class="nav-item" style="cursor: pointer">
            <a
              class="nav-link"
              [ngClass]="{ active: currentRegistrationStatus == 'PENDING' }"
              (click)="changeRegistrationStatus('PENDING')"
            >Pendente</a
            >
          </li>
          <li class="nav-item" style="cursor: pointer">
            <a
              class="nav-link"
              [ngClass]="{ active: currentRegistrationStatus == 'ACCEPTED' }"
              (click)="changeRegistrationStatus('ACCEPTED')"
            >Aceito</a
            >
          </li>
          <li class="nav-item" style="cursor: pointer">
            <a
              class="nav-link"
              [ngClass]="{ active: currentRegistrationStatus == 'DENIED' }"
              (click)="changeRegistrationStatus('DENIED')"
            >Negado</a
            >
          </li>
        </ul>

        <div style="display: flex; justify-content: center" *ngIf="isLoading">
          <div class="loader"></div>
        </div>

        <div *ngIf="registrationsOpportunities?.length == 0 && !isLoading">
          <div class="card border-0 py-3">
            <div class="card-body">Nenhum candidato encontrado</div>
          </div>
        </div>

        <ul *ngIf="registrationsOpportunities?.length > 0 && !isLoading" class="applications">
          <ng-container
            *ngFor="let opportunityRegistration of registrationsOpportunities"
          >
            <li class="volunteer">
              <div
                *ngIf="opportunityRegistration.candidate.photo?.length > 0"
                class="thumb"
              >
                <img
                  [src]="
                    imageService.convertBase64ToPhotoUrl(
                      opportunityRegistration.candidate.photo
                    )
                  "
                />
              </div>
              <div class="description">
                <h4>{{ opportunityRegistration.candidate.name }}</h4>
                <div>
                  <p>
                    {{ opportunityRegistration.candidate.bio }}
                  </p>
                  <br/>
                  <div class="row mt-3 ps-3">
                    <div class="col-12 text-truncate">
                      <i
                        class="bi bi-geo-alt-fill text-danger"
                        title="{{ volunteerOpportunity.address.city }} - {{
                          volunteerOpportunity.address.state
                        }}"
                      ><span class="text-dark">
                          Reside em:
                        {{
                        opportunityRegistration.candidate.address
                          .neighborhood
                        }},
                        {{ opportunityRegistration.candidate.address.city }} -
                        {{
                        opportunityRegistration.candidate.address.state
                        }}</span
                      >
                      </i>
                    </div>
                    <div
                      *ngIf="
                        opportunityRegistration.candidate?.causesCandidateIsInterestedIn
                          ?.length > 0
                      "
                      class="col-12 text-truncate"
                    >
                      <span class="text-dark text-truncate"
                      ><i class="bi bi-puzzle-fill text-warning"></i>
                        Principais habilidades:
                        {{
                        causesInterestedIn(
                          opportunityRegistration.candidate.causesCandidateIsInterestedIn
                        )
                        }}
                      </span>
                      <span></span>
                    </div>
                    <div
                      *ngIf="
                        opportunityRegistration.candidate?.qualifications
                          ?.length > 0
                      "
                      class="col-12 text-truncate"
                    >
                      <span class="text-dark text-truncate"
                      ><i class="bi bi-award"></i>
                        Qualificações:
                        {{
                        qualifications(
                          opportunityRegistration.candidate.qualifications
                        )
                        }}
                      </span>
                      <span></span>
                    </div>
                  </div>
                  <div class="row ps-3">
                    <div
                      *ngIf="opportunityRegistration?.candidate?.telephone"
                      class="col-lg-4 col-sm-6 text-truncate"
                    >
                      <i
                        class="bi bi-telephone-fill text-success"
                        title="{{ volunteerOpportunity.address.city }} - {{
                          volunteerOpportunity.address.state
                        }}"
                      ><span class="text-dark">
                          Telefone:
                        {{
                        opportunityRegistration.candidate.telephone
                        }}</span
                      >
                      </i>
                    </div>
                    <div
                      *ngIf="opportunityRegistration?.candidate?.email"
                      class="col-lg-4 col-sm-6 text-truncate"
                    >
                      <i class="bi bi-envelope-at-fill text-info"
                      ><span class="text-dark"
                      >E-mail:
                        {{ opportunityRegistration.candidate.email }}</span
                      >
                      </i>
                    </div>
                    <div
                      *ngIf="opportunityRegistration?.candidate?.linkedIn"
                      class="col-lg-4 col-sm-6 text-truncate"
                    >
                      <span class="text-dark">
                        <i class="bi bi-linkedin text-primary"></i>
                        <a href="" target="_blank">
                          LinkedIn:
                          {{ opportunityRegistration.candidate.linkedIn }}
                        </a>
                      </span>
                    </div>
                  </div>
                  <div class="action-buttons my-4">
                    <div class="row d-flex justify-content-end pe-2">
                      <div
                        *ngIf="opportunityRegistration.status == 'PENDING'"
                        class="col-12 col-lg-6"
                      >
                        <button
                          (click)="denyRegistration(opportunityRegistration)"
                          class="btn btn-outline-danger me-2"
                        >
                          Recusar
                        </button>

                        <button
                          (click)="acceptRegistration(opportunityRegistration)"
                          class="btn btn-primary"
                        >
                          Aceitar
                        </button>
                      </div>
                      <div
                        *ngIf="opportunityRegistration.status == 'ACCEPTED' && opportunityHasAlreadyHappened(opportunityRegistration.opportunity)"
                        class="col-12 col-lg-6"
                      >
                        <button class="btn btn-primary"
                                [disabled]="opportunityRegistration.institutionEmittedCertificate || candidateAlreadyHasCertificate(opportunityRegistration.candidate.id)"
                                (click)="emitCertificate(opportunityRegistration)">
                          Emitir certificado
                        </button>
                      </div>
                      <div
                        *ngIf="opportunityRegistration.status == 'DENIED'"
                        class="col-12 col-lg-6"
                      >
                        <button class="btn btn-outline-danger me-2" disabled>
                          Recusar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Improcedente</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Procedente</button>
      </div>
    </ng-template>


    <ng-template #banUser let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Banir usuário</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close button"
          aria-describedby="modal-title"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Tem certeza de que deseja banir o perfil do usuário <span class="text-primary">"Username"</span>?</strong>
        </p>
        <p>
          A conta deste usuário sera bloqueada e ele não terá mais acesso as informações relacionadas a ela.
          <span class="text-danger">Esta opção deve ser utilizada somente em casos de faltas graves.</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      </div>
    </ng-template>  -->
  <!-- </div> -->
</div>
