<div class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="container border border-1 rounded-4 p-4">
        <div class="">
          <h3 class="text-start">Voluntários Inscritos</h3>
        </div>
        <p>
          Aqui você encontra a relação de voluntários inscritos para vaga
          <span class="fw-bold fst-italic">{{ volunteerOpportunity.name }}</span
          >.
        </p>

        

        <ul class="applications">
          <li class="volunteer">
            <div class="thumb">
              <img src="./../../../../assets/img/picofme.png" />
            </div>
            <div class="description">
              <h4>Christiano</h4>
              <div>
                <p class="">
                  {{ volunteerOpportunity.description }}
                </p>
                <br />
                <div class="row mt-3 ps-3">
                  <div class="col-lg-5 col-sm-6 text-truncate">
                    <i
                      class="bi bi-geo-alt-fill text-danger"
                      title="{{ volunteerOpportunity.address.city }} - {{
                        volunteerOpportunity.address.state
                      }}"
                      ><span class="text-dark">
                        Reside em: {{ volunteerOpportunity.address.city }} -
                        {{ volunteerOpportunity.address.state }}</span
                      >
                    </i>
                  </div>
                  <div class="col-lg-6 col-sm-6 text-truncate">
                    <i class="bi bi-puzzle-fill text-warning">
                      <span class="text-dark text-truncate"
                        >Principais habilidades:
                      </span></i
                    >
                  </div>
                </div>
                <div class="row ps-3">
                  <div class="col-lg-4 col-sm-6 text-truncate">
                    <i
                      class="bi bi-telephone-fill text-success"
                      title="{{ volunteerOpportunity.address.city }} - {{
                        volunteerOpportunity.address.state
                      }}"
                      ><span class="text-dark"> Fone: </span>
                    </i>
                  </div>
                  <div class="col-lg-4 col-sm-6 text-truncate">
                    <i class="bi bi-envelope-at-fill text-info"
                      ><span class="text-dark"> Email: </span>
                    </i>
                  </div>
                  <div class="col-lg-4 col-sm-6 text-truncate">
                    <i class="bi bi-linkedin text-primary"> :</i>
                    <span class="text-dark">
                      <a href="" target="_blank"> LinkedIn</a></span
                    >
                  </div>
                </div>
                <div class="action-buttons my-4">
                  <div class="row">
                    <div class="col-6 col-lg-9">
                      <button class="btn btn-outline-danger">
                        Recusar
                      </button>
                    </div>
                    <div class="col-2  col-lg-2">
                      <button class="btn btn-primary">Aceitar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Improcedente</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Procedente</button>
      </div>
    </ng-template>
  
  
    <ng-template #banUser let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Banir usuário</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close button"
          aria-describedby="modal-title"
          (click)="modal.dismiss('Cross click')"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          <strong>Tem certeza de que deseja banir o perfil do usuário <span class="text-primary">"Username"</span>?</strong>
        </p>
        <p>
          A conta deste usuário sera bloqueada e ele não terá mais acesso as informações relacionadas a ela.
          <span class="text-danger">Esta opção deve ser utilizada somente em casos de faltas graves.</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
      </div>
    </ng-template>  -->
  <!-- </div> -->
</div>
