/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'swiper/css';

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

.loader {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#0ea4e9 #0000;
  animation:s1 1s infinite;
  margin: 5% 0 5% 0;
}
@keyframes s1 {to{transform: rotate(.5turn)}}
