<div class="paragraph">
  <div class="container">
    <div class="my-2"><h2>Como surgiu a WeCare?</h2></div>
    <div class="mt-3">
      <p>
        A We Care surgiu como resultado de um trabalho de conclusão de curso,
        onde os integrantes perceberam a necessidade de um aplicativo que
        podesse reuniur com mais facilidade voluntarios e projetos voltados para
        areas carentes.
      </p>

      <p>
        Com base nessa percepção, os idealizadores da We Care dedicaram-se a desenvolver uma solução inovadora que
        pudesse promover a conexão entre voluntários engajados e projetos sociais em áreas carentes. O objetivo
        principal era criar uma plataforma digital intuitiva e acessível, capaz de unir pessoas dispostas a fazer a
        diferença com organizações em busca de apoio para suas iniciativas comunitárias.
      </p>

      <p>
        Com um forte embasamento em tecnologia e design, a equipe por trás da We Care investiu tempo e recursos na
        criação de um aplicativo que pudesse atender às demandas específicas de voluntários e projetos sociais. Ao longo
        do desenvolvimento, foram considerados aspectos como a facilidade de uso, a segurança das informações e a
        funcionalidade versátil, a fim de garantir uma experiência positiva para todos os usuários. Assim, a We Care
        surge como um resultado concreto desse trabalho de conclusão de curso, oferecendo uma solução inovadora e
        eficiente para aproximar pessoas que desejam colaborar com causas sociais e projetos que necessitam de apoio.
      </p>

    </div>

    <div class="row img-dev mt-4">
      <h4 class="text-center">Devs:</h4>
      <div class="col">
        <img src="/assets/img/dev-Mateus.jpg" alt="Imagem 2"/>
        <h5>Mateus Sopranzi</h5>
      </div>
      <div class="col">
        <img src="/assets/img/dev-Raul.jpg" alt="Imagem 3"/>
        <h5>Raul Alves</h5>
      </div>
      <div class="col">
        <img src="/assets/img/dev-Rony.jpg" alt="Imagem 4"/>
        <h5>Rony Mesquita</h5>
      </div>
    </div>
    <div class="">
      <div class="text-center">
        <img
          src="/assets/img/Logo-Fatec-Ipiranga.png"
          alt=""
          class="responsive"
        />
      </div>
    </div>
  </div>
</div>
