<div class="paragraph">
  <div class="container">
    <div class="text-center"><h2>Como surgiu a WeCare?</h2></div>
    <p>
      A We Care surgiu como resultado de um trabalho de conclusão de curso, onde
      os integrantes perceberam a necessidade de um aplicativo que podesse reuniur
      com mais facilidade voluntarios e projetos voltados para areas carentes.
    </p>
  
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor
      nibh est, sit amet malesuada massa suscipit quis. Aliquam vel tristique
      quam. Sed semper gravida vulputate. Aenean aliquam ultrices tincidunt. Duis
      laoreet sapien posuere quam accumsan, in porttitor risus viverra. Mauris
      eget venenatis odio, quis dapibus nibh. Nullam tempor varius fringilla.
    </p>
  
    <p>
      Vivamus scelerisque, tellus vel feugiat porttitor, nisi libero gravida
      tortor, vitae vehicula magna massa sed nisi. Suspendisse blandit varius
      nisl, eget venenatis massa fermentum ut. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Nullam
      eget nibh a turpis pulvinar elementum.
    </p>
  
    <p>
      Morbi in erat pulvinar, molestie sem ac, mattis risus. Nulla facilisi.
      Curabitur aliquet fringilla ante, et viverra magna cursus eget. Praesent
      varius metus a dapibus porttitor. Fusce vitae fermentum felis. Mauris mattis
      pulvinar sagittis. Cras eu tellus tincidunt, ultricies mi ac, hendrerit
      lorem.
    </p>
  
    <p>
      Mauris sodales, purus eu egestas ullamcorper, lorem nisi gravida ligula, sit
      amet pulvinar sem risus nec nisl. Nulla mollis egestas lorem eu finibus.
      Morbi in nulla convallis ipsum pretium ornare. Nullam condimentum mauris sit
      amet pulvinar auctor. Aliquam sed porttitor diam. Nullam sit amet tortor
      quis velit luctus eleifend et nec turpis. Suspendisse elementum nibh nulla,
      quis bibendum ligula molestie eu.
    </p>
  
    <p>
      Quisque dui metus, feugiat in dignissim sed, convallis quis lacus. Sed ex
      diam, sodales non posuere eu, condimentum sed ipsum. In efficitur risus
      posuere tellus semper rhoncus. Nam fermentum arcu vel nibh lobortis, a
      rhoncus justo efficitur. Maecenas suscipit tortor eget metus volutpat
      interdum. Sed vitae purus mauris. Nam sodales vitae risus quis aliquet.
      Curabitur sapien dolor, fermentum in ultricies et, scelerisque in augue.
      Nulla tellus augue, volutpat a neque ac, sodales cursus lacus. Nam imperdiet
      pellentesque bibendum. Aenean et malesuada justo. Curabitur a sapien
      aliquet, egestas mi sed, vehicula justo. Quisque sit amet rutrum massa.
    </p>
  
    <div class="row img-dev mt-4">
      <h4 class="text-center">Devs:</h4>
      <div class="col">
        <img src="../../../assets/img/dev-matt-carvalho.jpg" alt="Imagem 1" />
        <h5>Mateus Carvalho</h5>
      </div>
      <div class="col">
        <img src="../../../assets/img/dev-Mateus.jpg" alt="Imagem 2" />
        <h5>Mateus Sopranzi</h5>
      </div>
      <div class="col">
        <img src="../../../assets/img/dev-Raul.jpg" alt="Imagem 3" />
        <h5>Raul Alves</h5>
      </div>
      <div class="col">
        <img src="../../../assets/img/i-devs.png" alt="Imagem 4" />
        <h5>Rony Mesquita</h5>
      </div>
    </div>
    <div class="">
      <div class="text-center">
        <img
          src="../../../assets/img/Logo-Fatec-Ipiranga.png"
          alt=""
          class="responsive"
        />
      </div>
    </div>
  </div>
</div>
  
